body.auth-login {
    margin: 0;
}

/* AUI overrides */
form.aui h3 {
    border-bottom: 1px solid #DDD;
}

.ual-row:hover {
    background-color: #f0f0f0;
}

table.aui > thead {
    border-bottom: none;
}

.auth-login form.aui h3 {
    margin-top: 0;
}

/* icon styles */
.app-delete-link .aui-iconfont-remove {
    color: #333;
}

.aui-message .aui-iconfont-help {
    left: auto;
    position: relative;
    top: auto;
}

/* end help icon styles */

.aui-page-header .aui-iconfont-help {
    color: #333;
    vertical-align: text-top;
}

.applinks-page-header, .applinks-lab-tag {
    vertical-align: top;
}

.applinks-lab-info {
    float: right;
}

#applinks-lab-switchback {
    float: right;
}

#applinks-feedback-button {
    float: left;
}

.applinks-lab-info .aui-lozenge {
    float: left;
}

.applinks-lab-info .aui-buttons {
    width: 100%;
    float: left;
}

.applinks-lab-info .applinks-lab-message {
    padding-left: 5px;
    float: left;
    width: 250px;
    margin-top: -3px;
    color: #3572b0;
    cursor: pointer;
    text-align: left;
}

.applinks-lab-info .applinks-lab-message:hover {
    text-decoration: underline;
}

.no-links {
    margin-top: 10px;
}

.links-loading-message aui-spinner, aui-spinner.applinks-loading {
    display: inline-block;
    vertical-align: middle;
}

#select-entity-ual form.aui .field-group label {
    width: 130px;
    padding-right: 0;
}

#applink-credentials-form .trust-each-other {
    padding-left: 0;
}

form.aui .hidden {
    display: none;
}

table.aui {
    max-width: 900px;
    clear: right;
}

/* AUI dropdown overrides */
#ual .aui-dd-parent a.aui-dd-trigger,
#ual .aui-dd-parent a.aui-dd-trigger.active,
#ual .aui-dd-parent a.aui-dd-trigger:hover,
#ual .aui-dd-parent a.aui-dd-trigger:active,
#ual .aui-dd-parent a.aui-dd-trigger:focus,
#ual .icon-add {
    background: transparent url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/add_20.png) no-repeat 2px 4px;
    border: none;
    color: #333;
    float: right;
    font-size: 1.1em;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 3px 5px 4px 27px;
    text-decoration: none;
    text-indent: 0;
    width: auto;
}

#ual .aui-dd-parent.active a.aui-dd-trigger {
    background-color: #3c78b5;
    color: #fff;
}

#ual .aui-dd-parent a.aui-dd-trigger span {
    background: transparent url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/arrow_hide.png) no-repeat 100% 60%;
    display: block;
    padding-right: 16px;
}

#ual .aui-dd-parent .aui-dropdown {
    border: 1px solid #bbb;
    list-style: none;
}

#ual .aui-dd-parent .aui-dropdown a.item-link:link,
#ual .aui-dd-parent .aui-dropdown a.item-link:visited,
#ual .aui-dropdown a.item-link:link,
#ual .aui-dropdown a.item-link:visited {
    background: #fff no-repeat 5px 5px;
    color: #333;
    padding-left: 25px;
}

#ual .aui-dd-parent .aui-dropdown a.item-link, .aui-dropdown a.item-link {
    display: block;
}

#ual .aui-dd-parent .aui-dropdown li.dropdown-item.active a.item-link,
#ual .aui-dd-parent .aui-dropdown a.item-link:hover,
#ual .aui-dd-parent .aui-dropdown a.item-link:active,
#ual .aui-dd-parent .aui-dropdown a.item-link:focus,
#ual .aui-dropdown a.item-link:hover,
#ual .aui-dropdown a.item-link:active,
#ual .aui-dropdown a.item-link:focus {
    background: #f2f2f2 no-repeat 5px 5px;
    color: #333;
    padding-left: 25px;
}

.icon {
    background: url("../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/icons_module.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    margin: 0 0.166em;
    overflow: hidden;
    padding: 0;
    width: 16px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#add-first-application-link {
    cursor: pointer;
    text-decoration: none;
    display: inline;
    color: #3C78B5;
}

#applink-create-details-page .rpc-url-description {
    padding: 0 0 0 0;
}

.applinks-description {
    font-size: 11px;
    color: #666;
    padding: 5px 0;
}

.applinks-actions {
    margin: 10px 0;
    padding: 0;
}

.applinks-actions a, .applinks-list a {
    color: #003366;
}

.applinks-actions li {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
}

.applinks-list {
}

.applinks-list th {
    border-bottom: 1px solid #CCC;
    margin: 0;
    padding-right: 0;
    font-weight: normal;
    color: #666;
    text-align: left;
}

.ual-cell {
    border-bottom: 1px solid #EEEEEE;
}

.ual-row {
    vertical-align: top;
}

.ual-read-only {
    color: #505050;
    font-style: italic;
}

.ual-read-only:before {
    content: "(";
}

.ual-read-only:after {
    content: ")";
}

.applinks-list td {
    font-size: 11px;
}

.configured-auth-type {
    padding-left: 18px;
    padding-top: 7px;
}

.primary-auth-type {
    background: url("../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/primary_auth.png") no-repeat scroll transparent;
    cursor: pointer;
    padding: 2px 7px 5px;
}

.primary-auth-type-wrapper {
    padding-top: 2px;
}

.applinks-configure-link {
    font-size: 10px;
}

.applinks-message-bar {
    padding-top: 10px
}

.applinks-help-box {
    border: 1px solid #CCC;
    background-color: #F0F0F0;
    float: right;
    width: 300px;
    padding: 2px 5px;
    font-size: 10pt;
}

.applinks-warning-box {
    border: 1px solid #C00;
    background-color: #FDD;
    padding: 2px 5px;
    font-size: 10pt;
}

.applinks-form {
    border: none;
    font-size: 11px;
    padding: 10px;
}

.applinks-field {
    padding: 0;
    margin: 0;
    clear: both;
}

.applinks-field label {
    width: 200px;
    background-color: #F0F0F0;
    padding: 3px;
    display: block;
    float: left;
    margin: 0 5px;
    text-align: right;
}

.applinks-field-desc {
    font-size: 11px;
    color: #666;
}

.applinks-buttons {
    border: none;
    padding: 10px;
    margin: 0 0 0 200px;
    clear: both;
}

.applinks-visibility-column {
    float: left;
    width: 60px;
    text-align: center;
    padding-top: 4px;
}

non-ual-application-url {
    width: 330px;
}

.non-ual-form {
    clear: both;
    margin-left: -4;
    padding-top: 0;
}

form.aui .upgrade-info {
    padding-left: 5px;
}

.help-step {
    position: absolute;
    right: 1em;
    top: 1em;
}

/* progress bar - default is three step */
.progress-bar {
    display: block;
    height: 26px;
    margin: 0 auto 12px;
    padding: 0;
    list-style-type: none;
    width: 480px;
    background: #fff url('../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/progress-bar.png') no-repeat 0 0;
}

.progress-bar li {
    color: #ccc;
    float: left;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    width: 160px;
}

.progress-bar li.active {
    color: #fff;
    font-weight: 700;
}

.step-two {
    background-position: 0 -26px;
}

.step-three {
    background-position: 0 -52px;
}

.two-step.step-one {
    background-position: 0 -104px;
}

.two-step.step-two {
    background-position: 0 -78px;
}

.two-step li {
    width: 240px;
}

.step-title {
    font-size: 24px;
    margin: 0 0 12px 4px;
    width: 450px;
}

.image-wrapper, .image-wrapper-solid {
    padding: 0;
    min-height: 166px;
    margin: 0 auto 20px;
    position: relative;
    width: 100%;
}

.image-wrapper-solid {
    background-color: #E1F0F5;
}

.app-image {
    height: 146px;
    position: absolute;
    width: 180px;
    background: #e1f0f5 url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/100question_mark.png) no-repeat 0 0;
}

.local-app-image {
    background-position: 40px 32px;
    left: 0;
    top: 0;
}

.remote-app-image {
    background-position: 40px 32px;
    right: 0;
    top: 0;
}

.unknown-app-image {
    background-position: 46px 22px;
    right: 0;
    top: 0;
}

.local-app-name,
.remote-app-name {
    color: #1E3851;
    text-align: center;
    margin-top: 5px;
}

.arrows {
    margin: 0 auto;
    padding-top: 9px;
    width: 110px;
}

.left-to-right-arrow {
    height: 64px;
    width: 110px;
    background: transparent url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/arrow1.png) no-repeat 50% 0;
}

.right-to-left-arrow {
    height: 64px;
    width: 110px;
    background: transparent url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/arrow2.png) no-repeat 50% 0;
}

.no-background {
    background-image: none;
}

#add-application-link-dialog .dialog-panel-body,
#upgrade-application-link-dialog .dialog-panel-body,
#upgrade-orphaned-trust-dialog .dialog-panel-body {
    *position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.ual-upgrade-text {
    padding: 35px 20px
}

/*
 add new css styles using the format: application-type-{Application Type Id} to define images for other applications that support UAL.
 */
div .application-type-image-refapp {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100atlassian.png);
}

div .application-type-image-jira {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100jira.png);
}

div .application-type-image-fecru {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100fisheye.png);
}

div .application-type-image-bamboo {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100bamboo.png);
}

div .application-type-image-confluence {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100confluence.png);
}

div .application-type-image-stash {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100stash.png);
}

.non-ual-app-image {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/100server.png);
    right: 0;
    top: 0;
    background-position: 40px 13px;
}

.same-userbase-image {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/100step3_image_lhs.png);
    background-position: center bottom;
    height: 146px;
    left: 0;
    top: 0;
    padding: 10px;
}

.same-userbase-image-grey {
    background-color: #ececec;
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/100step3_image_lhs_gray.png);
}

.different-userbase-image {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/100step3_image_rhs.png);
    background-position: 38px 60px;
    height: 146px;
    right: 0;
    top: 0;
    padding: 10px;
}

.different-userbase-image-grey {
    background-color: #ececec;
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/100step3_image_rhs_gray.png);
}

/**
 * @aui-override APL-613 Misc UI Fixes
 *
 * @date 2011-02-24
 * @author shaffenden
 * @see
 *
 *
 * @note Straightening up some of the default padding to make things align correctly
 */
form.aui div.radio.dont-trust-each-other-description,
form.aui div.radio.trust-each-other-description,
form.aui div.checkbox.reciprocal-link,
form.aui div.reciprocate-entity-links-container {
    margin-left: -145px;
}

form.aui div.trust-each-other-description input,
form.aui div.dont-trust-each-other-description input {
    margin-left: 2px;
}

/* end */

#display-url {
    width: 350px;
}

.trust-each-other-description {
    clear: left;
    position: relative;
    padding: 45px 35px 0 10px;
}

.trust-each-other-description div {
    padding-left: 5px;
}

.dont-trust-each-other-description {
    clear: left;
    position: relative;
    padding-top: 10px;
    padding-left: 10px
}

.expand-icon {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/arrow_show.png);
    width: 13px;
    height: 14px;
    cursor: pointer;
    float: left;
    margin-top: 3px;
}

.collapse-icon {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/arrow_hide.png);
    width: 13px;
    height: 14px;
    cursor: pointer;
    float: left;
    margin-top: 3px;
}

form.aui div.create-non-ual-description {
    padding: 15px 0 5px 20px;
}

.create-non-ual-warning {
    position: relative;
    left: 15px;
    width: 400px;
}

.auth-panel {
    height: 100%;
}

.auth-frame {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

/*.msie-7 .auth-frame {height:420px;}*/

#link-container {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px #ccc dashed;
    width: 30%;
}

#linkList a {
    color: gray;
}

#linkList .primary a {
    color: red;
}

#linkList .primary .make-primary {
    display: none;
}

#error-message {
    color: red;
    padding-top: 10px;
}

.entity-link .make-primary, .entity-link .delete-link {
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-item {
    padding: 0.3em
}

.entity-autocomplete div.aui-dropdown {
    margin: 0;
}

div .entity-loading {
    float: left;
    width: 200px;
    padding: 0 25px;
}

form.aui div.ual-entity-msg {
    padding: 0 0 15px 0;
}

.entity-autocomplete ol {
    background: #fff;
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 15em;
}

.entity-autocomplete ol li {
    margin: 0;
    padding: 3px;
    cursor: pointer;
}

.entity-autocomplete ol li.active {
    background-color: #3c78b5;
    color: #fff;
}

.entity-autocomplete ol li img {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.entity-autocomplete ol li a {
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.entity-autocomplete ol li.active a {
    color: #fff;
}

.entity-autocomplete ol q,
.entity-autocomplete ol i {
    display: none;
}

.entity-autocomplete ol em {
    font-style: normal;
}

.ual-entity-radio-btn {
    padding-top: 2px;
    padding-bottom: 2px;
}

.max-entity-links {
    font-size: 10px;
}

#max-entity-links.active, #max-entity-links.active a {
    background-color: #fff;
    color: #333;
    cursor: default;
}

.non-ual-entity-msg {
    padding: 0 50px 15px 70px;
}

.authorize-link {
    padding: 10px;
}

.skip-link {
    padding: 10px;
}

/*Header of the list application links screen*/
.applinks-header {
    position: relative;
    margin-bottom: 1em;
}

.applinks-header > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.applinks-header > ul > li {
    display: block;
}

/*Header of the list entity links screen*/
.applinks-entity-header {
    position: relative;
    z-index: 1; /*dropdowns inside the header are being overlapped by the aui-messages below.*/
}

.applinks-entity-header .dropdown-shim {
    display: none !important;
}

.applinks-entity-header > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -5px;
}

.applinks-entity-header > ul > li {
    display: block;
}

.applinks-list-entity-desription {
    padding-bottom: 15px;
}

#icon {
    width: 21px;
}

#entity-link-list img.icon {
    height: 16px;
    width: 16px;
}

#entity-link-list > tr > td, #applicationsList > tr > td {
    vertical-align: middle;
}

#applicationsList img.icon {
    height: 16px;
    width: 16px;
}

.applinks-primary-true {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/primary_auth.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 2px;
}

.dialog-error {
    font-weight: bold;
    color: red;
    background-color: #ffcccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    border-color: red;
    padding: 10px;
}

.dialog-error {
    margin-top: 10px;
}

#add-entity-link .aui-dropdown {
    width: 15em;
}

#add-entity-link .aui-dropdown li {
    color: #535353;
}

#add-entity-link .aui-dropdown li.active a {
    color: #fff;
    background-color: #6699CC;
}

#add-entity-link .aui-dropdown li a {
    text-decoration: none;
}

#add-entity-link .aui-dropdown li a span {
    font-style: normal;
}

#add-entity-link .aui-dropdown li img {
    float: left;
}

#add-entity-link .aui-dropdown li span.no-match {
    color: red;
    padding: 1em;
}

#select-entity-ual .ual-entity-links .add-entity-link-single-value {
    margin-bottom: 15px;
    margin-top: -5px;
}

.validation-non-ual-error {
    padding-left: 140px;
}

.reciprocate-entity-link {
    padding: 0 0 5px 0;
}

#delete-applink,
#delete-reciprocal-applink {
    padding-left: 10px;
}

.delete-applink {
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 24px;
    font-size: small;
    background-position: left;
    background-repeat: no-repeat;
}

.authenticate-message {
    padding-bottom: 20px;
}

.delete-applink-loading {
    padding-top: 15px;
}

#authPanel {
    height: 100%;
}

#authenticate-iframe {
    width: 100%;
    height: 95%;
    border: 0;
}

.ual-help-link {
    color: #333;
}

#applinks-dialog h2 .ual-help-link {
    top: -30px;
}

.aui-dialog h2 > span {
    width: inherit;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-title .dialog-help-link {
    float: right;
}

.dialog-title .dialog-help-link .aui-icon-small {
    vertical-align: middle;
}

.dialog-help-link {
    position: relative;
    left: 10px;
    *top: -12px;
}

#trust-certificates th {
    text-align: left;
}

#trust-certificates td {
    padding-right: 10px;
    padding-top: 5px;
}

#trust-certificates td a {
    text-decoration: underline;
}

/**
 * New workflow styles
 */
form.aui .v2-url-input, form.aui .v3-url-input {
    margin-top: 20px;
    padding: 4px 0 4px 75px;
}

#applinks-dialog .appDetail {
    margin: 5px 0 27px 15px;
    display: table;
}

.appDetail .appDetailRow {
    display: table-row;
}

.appDetail .appDetailRow .aui-icon-small {
    vertical-align: text-top;
}

.appDetail .avatar, .appDetail .detail {
    display: table-cell;
}

.appDetail .avatar .avatarSpace {
    margin: 8px;
}

#applinks-dialog .checkbox .description {
    margin: 0;
}

#applinks-dialog .checkbox .ual-help-link {
    padding-left: 5px;
}

#create-applink-dialog .aui-button.aui-button-primary {
    background: #3068a2;
    background: -moz-linear-gradient(top, #4687ce 0%, #3068a2 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #4687ce 0%, #3068a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4687ce 0%, #3068a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4687ce 0%, #3068a2 100%); /* IE10+ */
    background: linear-gradient(top, #4687ce 0%, #3068a2 100%); /* W3C */
    border-color: #486582;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #205081;
}

#create-applink-dialog .aui-button.aui-button-primary[disabled] {
    background: #97b3d0;
    background: -moz-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%); /* IE10+ */
    background: linear-gradient(top, #a2c3e6 0%, #97b3d0 100%); /* W3C */
    border-color: #7f9cb9;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}

.aui-dialog .avatar {
    padding-right: 10px;
}

.application-actions {
    white-space: nowrap;
}

table.aui > tbody > tr > td.application-actions ul li {
    float: none;
    display: inline-block;
    margin: 0 5px 0 0;
}

.app-toggleprimary-action:before {
    content: "|";
    margin: 0 5px 0 0;
}

.local-application-information {
    color: #707070;
    display: inline-block;
    padding-right: 30px;
    font-size: 14px;
}

.local-application-label {
    font-weight: bold;
}

/*Hides the Confluence admin-heading which is automatically generated for the admin screen as the applinks configuration screens already have a page heading */
.applinks-page .admin-heading {
    height: 0; /*if we used display:none instead it would cause the sidebar to render improperly due to the table layout of the page */
    overflow: hidden;
}

.v3-feature-discovery-panel {
    text-align: center;
    align-content: center;
    padding: 38px;
    width:33%;
}

.feature-discovery-dialog-panel {
    padding-top: 40px;
}

.v3-onboarding-image {
    height: 110px;
}
/*end*/
