body.auth-container,
body.auth-login,
body.auth-config {
    background-color: #fff;
}
body.auth-config,
body.auth-login {
    padding: 0 10px 50px 10px; /* 50px padding gives a buffer in case the iframe doesn't fit. */
}

.tabs-pane {
    clear: both;
    position: relative;
}

.auth-config-frame {
    border: 0;
    height: 289px;
    overflow-y: scroll;
    width: 100%;
}

.loading-tabs {
    position: absolute;
    right: 10px;
    top: -24px;
}

.auth-config-tab-link {
    float: left;
}

/* Help icon styles */
.aui-theme-default .ual-help-link {
    color: #333;
}
.aui-message .aui-iconfont-help {
    left: auto;
    position: relative;
    top: auto;
}
/* end help icon styles */

.auth-container {overflow:hidden;}
