body.auth-config {
    font-size: 14px;
    line-height: 1.4285714285714;
    color: #333;
}

div .local-app-image {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100stash.png);
}

#add-application-link-dialog .two-way-link-details + fieldset.group {
    display: none;
}

.step-title {
    margin: 0;
}

#add-application-link-dialog .dialog-panel-body {
    padding: 15px;
}

#add-application-link-dialog form.aui .field-group label,
#edit-application-link-dialog form.aui .field-group label,
#upgrade-application-link-dialog form.aui .field-group label,
.relocate-link-dialog-input form.aui .field-group label {
    padding-right: 0;
    left: 0;
    width: 130px;
}

#add-application-link-dialog form.aui .field-group label span.aui-icon,
#edit-application-link-dialog form.aui .field-group label span.aui-icon,
#upgrade-application-link-dialog form.aui .field-group label span.aui-icon,
.relocate-link-dialog-input form.aui .field-group label span.aui-icon {
    top: 5px;
    right: auto;
}

#add-application-link-dialog form.aui .field-group input.text,
#edit-application-link-dialog form.aui .field-group input.text,
#upgrade-application-link-dialog form.aui .field-group input.text,
.relocate-link-dialog-input form.aui .field-group input.text {
    margin-right: 10px;
}

#add-application-link-dialog .image-wrapper .radio,
#edit-application-link-dialog .image-wrapper .radio,
#upgrade-application-link-dialog .image-wrapper .radio,
.relocate-link-dialog-input .image-wrapper .radio {
    margin-left: 5px;
}

#add-application-link-dialog .image-wrapper .radio label,
#edit-application-link-dialog .image-wrapper .radio label,
#upgrade-application-link-dialog .image-wrapper .radio label,
.relocate-link-dialog-input .image-wrapper .radio label {
    display: inline-block;
    margin-left: 20px;
}

.dialog-button-panel .button-panel-button.wizard-submit {
    margin-left: 10px; /* space*/
}

.dialog-button-panel .loading {
    margin-right: 10px;
}

.applinks-error {
    color: #d04437;
}

.dialog-panel-body.auth-panel {
    overflow: hidden;
}



.relocate-link-dialog-input input[type=text],
.auth-frame form.aui input[type=text],
.auth-container form.aui input[type=text],
.auth-config-frame form.aui input[type=text],
.auth-config form.aui input[type=text] {
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-shadow: inset 0 1px 3px #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    font-family: inherit;
    font-size: 14px;
    height: 2.1428571428571em;
    line-height: 1.4285714285714;
    margin: 0;
    margin-right: 10px;
    max-width: 250px;
    padding: 4px 5px;
    vertical-align: baseline;
    width: 100%;
}

.relocate-link-dialog-input input[type=checkbox],
.auth-frame form.aui input[type=checkbox],
.auth-container form.aui input[type=checkbox],
.auth-config-frame form.aui input[type=checkbox],
.auth-config form.aui input[type=checkbox] {
    margin-top: 10px;
}

.ual-cell {
    border-color: #cccccc;
}

.auth-config-frame {
    height: 281px;
    padding-top: 10px;
}

.auth-config-frame body {
    margin-bottom: 20px;
}

.auth-config-tab-link {
    border-top-left-radius: 3px;
}

.auth-frame form.aui,
.auth-container form.aui,
.auth-config-frame form.aui,
.auth-config form.aui {
    margin-bottom: 20px;
}

.auth-frame form.aui .buttons-container .buttons,
.auth-container form.aui .buttons-container .buttons,
.auth-config-frame form.aui .buttons-container .buttons,
.auth-config form.aui .buttons-container .buttons {
    padding-left: 0;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:first-child:last-child a {
    border-radius: 3px 3px 0 0;
}

.url-pattern-warning a {
    color: #3b73af;
    text-decoration: none;

}

.url-pattern-warning a:hover,
.url-pattern-warning a:active {
    text-decoration: underline;
}

.ual-help-link.help-step {
    top: 1.5em;
}